<div class="row">
  <div class="col-md-6">
    <a [routerLink]="" (click)=onBackClicked() class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Voltar
    </a>
  </div>
  <div class="col md-6">
    <div class="btn-group pull-right">
      <a routerLink="/patients/edit/{{ id }}" class="btn btn-warning">
        Editar
      </a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Deletar</button>
    </div>
  </div>
</div>
<hr>
<div *ngIf="patient" class="card" @fade>
  <h4 class="card-header">Paciente: {{ patient.firstName }} {{ patient.lastName }}</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <h5> ID: {{ patient.id }}</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <ul class="list-group col-md-4">
        <li class="list-group-item"><strong class="Topic">Email:</strong> {{ patient.email }}</li>
        <li class="list-group-item"><strong class="Topic">Celular:</strong><a class="linkClass" href="tel:{{ patient.mobilePhone }}"> {{ patient.mobilePhone | mask:"(00) 00000-0000" }}</a></li>
        <li class="list-group-item"><strong class="Topic">Telefone:</strong><a class="linkClass" href="tel:{{ patient.phone }}"> {{ patient.phone | mask:"(00) 0000-0000" }}</a></li>
        <li class="list-group-item"><strong class="Topic">Congregação:</strong> {{ patient.congregation }}</li>
        <li class="list-group-item"><strong class="Topic">Endereço:</strong> {{ patient.address }}, {{ patient.numeral }}
          {{ patient.complement }} - {{ patient.neighborhood }} - {{ patient.city }} - {{ patient.state }}</li>
        <li class="list-group-item">
        <div class="sameLine"><strong class="Topic">Hospital:</strong></div>
        <div class="sameLine"><a class="linkClass" [routerLink]="" (click)="showDetailsHospital = !showDetailsHospital">
           <div *ngIf="showDetailsHospital">{{ hospital?.name }}( - )</div>
          <div *ngIf="!showDetailsHospital">{{ hospital?.name }}(+)</div>
        </a></div>
        <div *ngIf="showDetailsHospital"> Endereço: {{ hospital?.address }}, {{ hospital?.numeral }}
          {{ hospital?.complement }} - {{ hospital?.neighborhood }} - {{ hospital?.city }} - {{ hospital?.state }}
        </div>
        </li>
      </ul>
      <ul class="list-group col-md-4">
        <li class="list-group-item"><strong class="Topic">Data de internação:</strong> {{ patient.hospitalizationDate |
          date:'dd-MM-yyyy'}}</li>
        <li class="list-group-item"><strong class="Topic">Data de alta médica:</strong> {{ patient.medicalRelease |
          date:'dd-MM-yyyy' }}</li>
        <li class="list-group-item">
            <div class="sameLine"><strong class="Topic">Hospedagem:</strong></div>
            <div *ngIf="accommodation" class="sameLine"><a class="linkClass" [routerLink]="" (click)="showDetailsAccommodation = !showDetailsAccommodation">
            <div *ngIf="showDetailsAccommodation">{{ accommodation?.name }}( - )</div>
          <div *ngIf="!showDetailsAccommodation">{{ accommodation?.name }}(+)</div>
        </a></div>
        <div *ngIf="showDetailsAccommodation"> Responsável: {{ accommodation.responsable }}</div>
              <div *ngIf="showDetailsAccommodation"> Endereço: {{ accommodation.address }}, {{ accommodation.numeral }}
                {{ accommodation.complement }} - {{ accommodation.neighborhood }} - {{ accommodation.city }} - {{ accommodation.state }}
              </div>
              <div *ngIf="showDetailsAccommodation"> Celular: <a class="linkClass" href="tel:{{ accommodation.mobilePhone }}">{{ accommodation.mobilePhone }}</a></div>
              <div *ngIf="showDetailsAccommodation"> Telefone: <a class="linkClass" href="tel:{{ accommodation.mobilePhone }}">{{ accommodation.phone }}</a></div>
            </li>
        <li class="list-group-item"><strong class="Topic">Celular Ancião 1:</strong><a class="linkClass" href="tel:{{ patient.mobileElder1 }}"> {{ patient.mobileElder1 | mask:"(00) 00000-0000" }}</a></li>
        <li class="list-group-item"><strong class="Topic">Celular Ancião 2:</strong><a class="linkClass" href="tel:{{ patient.mobileElder2 }}"> {{ patient.mobileElder2 | mask:"(00) 00000-0000" }}</a></li>
        <li class="list-group-item"><strong class="Topic">Telefone Ancião 1:</strong><a class="linkClass" href="tel:{{ patient.phoneElder1 }}"> {{ patient.phoneElder1 | mask:"(00) 0000-0000" }}</a></li>
      </ul>
    <ul class="list-group col-md-4">
      <li class="list-group-item"><strong class="Topic">Telefone Ancião 2:</strong><a class="linkClass" href="tel:{{ patient.phoneElder2 }}"> {{ patient.phoneElder2  | mask:"(00) 0000-0000"}}</a></li>
    </ul>
    </div>
  </div>
</div>
<div *ngIf="patient" class="card" @fade>
  <h4 class="card-header">Descrição do caso</h4>
  <div class="card-body">
    <div class="row">
      <div class="container" id="divEditor">

        <angular-editor id="myEditor" name="caseDescription" [(ngModel)]="patient.caseDescription" [config]="config"></angular-editor>
        <br>
      </div>

    </div>
  </div>
</div>
<div *ngIf="patient" class="card" @fade>
    <h4 class="card-header">Relatórios de visita</h4>

<div *ngFor="let report of patient.report; let i = index">
          <mat-expansion-panel  (opened)="panelOpenState = true"
                                                                                    (closed)="panelOpenState = false">
          <br>
          <mat-expansion-panel-header [collapsedHeight]="'110px'" [expandedHeight]="'110px'">
          <mat-panel-title>
          <h6 >Código do relatório:<span> P{{ report.code }}</span> Data da visita: <span>{{ report.visitDate | date:'dd-MM-yyyy'}}</span>
            Membros Gvp: <span>{{ report.gvpName1 }}</span> e <span>{{ report.gvpName2 }}</span></h6>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
          </mat-expansion-panel-header>

          <angular-editor name="description" [(ngModel)]="report.description" [config]="config"></angular-editor>
          </mat-expansion-panel>

        </div>

  </div>




